
[*.proto]
indent_style=tab
indent_size=tab
tab_width=4

[*.{appxmanifest,asax,ascx,aspx,axml,build,c,c++,cc,config,cp,cpp,cs,cshtml,csproj,css,cu,cuh,cxx,dbml,discomap,dtd,h,hh,hlsl,hlsli,hpp,htm,html,hxx,inc,inl,ino,ipp,jsproj,jsx,lsproj,master,mpp,njsproj,nuspec,proj,props,razor,resw,resx,skin,StyleCop,targets,tasks,tpp,usf,ush,vb,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4

[*.{js,json,resjson,ts,tsx}]
indent_style=space
indent_size=2
tab_width=2

[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_prefer_braces=false:suggestion
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
dotnet_naming_rule.private_constants_rule.severity=warning
dotnet_naming_rule.private_constants_rule.style=lower_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_static_readonly_rule.severity=warning
dotnet_naming_rule.private_static_readonly_rule.style=lower_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix=_
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:warning
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:warning
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:warning
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# ReSharper properties
resharper_align_first_arg_by_paren=false
resharper_align_multiline_array_and_object_initializer=false
resharper_align_multiline_binary_expressions_chain=false
resharper_align_multline_type_parameter_constrains=false
resharper_align_multline_type_parameter_list=false
resharper_align_tuple_components=false
resharper_autodetect_indent_settings=true
resharper_blank_lines_after_block_statements=0
resharper_blank_lines_between_using_groups=1
resharper_constructor_or_destructor_body=expression_body
resharper_csharp_align_multiline_argument=false
resharper_csharp_align_multiline_binary_expressions_chain=false
resharper_csharp_align_multiline_calls_chain=false
resharper_csharp_align_multiline_expression=false
resharper_csharp_align_multiline_extends_list=false
resharper_csharp_align_multiline_for_stmt=false
resharper_csharp_align_multiline_parameter=false
resharper_csharp_align_multiple_declaration=false
resharper_csharp_empty_block_style=together_same_line
resharper_csharp_insert_final_newline=true
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_keep_blank_lines_in_declarations=1
resharper_csharp_max_line_length=2147483647
resharper_csharp_new_line_before_while=true
resharper_csharp_use_indent_from_vs=false
resharper_csharp_wrap_after_declaration_lpar=true
resharper_csharp_wrap_after_invocation_lpar=true
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_csharp_wrap_before_first_type_parameter_constraint=true
resharper_csharp_wrap_chained_binary_expressions=chop_if_long
resharper_csharp_wrap_chained_method_calls=chop_if_long
resharper_csharp_wrap_extends_list_style=chop_if_long
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_enforce_line_ending_style=true
resharper_force_control_statements_braces=always_add
resharper_indent_anonymous_method_block=false
resharper_indent_nested_fixed_stmt=true
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_lock_stmt=true
resharper_indent_nested_usings_stmt=true
resharper_indent_nested_while_stmt=true
resharper_indent_preprocessor_if=usual_indent
resharper_indent_preprocessor_other=usual_indent
resharper_instance_members_qualify_declared_in=
resharper_js_align_multiline_parameter=true
resharper_js_align_multiple_declaration=true
resharper_js_align_ternary=align_all
resharper_js_empty_block_style=together
resharper_js_indent_switch_labels=true
resharper_js_max_line_length=2147483647
resharper_js_quote_style=singlequoted
resharper_js_simple_embedded_statement_style=line_break
resharper_js_stick_comment=false
resharper_js_wrap_arguments_style=wrap_if_long
resharper_js_wrap_chained_binary_expressions=wrap_if_long
resharper_js_wrap_for_stmt_header_style=wrap_if_long
resharper_js_wrap_multiple_declaration_style=wrap_if_long
resharper_js_wrap_parameters_style=wrap_if_long
resharper_js_wrap_ternary_expr_style=wrap_if_long
resharper_keep_existing_declaration_block_arrangement=true
resharper_keep_existing_embedded_block_arrangement=true
resharper_keep_existing_enum_arrangement=true
resharper_keep_existing_invocation_parens_arrangement=false
resharper_linebreaks_around_razor_statements=false
resharper_local_function_body=expression_body
resharper_max_array_initializer_elements_on_line=2147483647
resharper_max_attribute_length_for_same_line=2147483647
resharper_max_enum_members_on_line=2147483647
resharper_max_formal_parameters_on_line=2147483647
resharper_max_initializer_elements_on_line=2147483647
resharper_max_invocation_arguments_on_line=2147483647
resharper_method_or_operator_body=expression_body
resharper_outdent_binary_ops=false
resharper_outdent_commas=false
resharper_outdent_dots=false
resharper_parentheses_non_obvious_operations=none
resharper_place_attribute_on_same_line=false
resharper_place_comments_at_first_column=true
resharper_place_linq_into_on_new_line=false
resharper_place_simple_case_statement_on_same_line=if_owner_is_single_line
resharper_place_simple_enum_on_single_line=true
resharper_place_simple_method_on_single_line=true
resharper_place_simple_switch_expression_on_single_line=true
resharper_prefer_explicit_discard_declaration=true
resharper_prefer_qualified_reference=false
resharper_prefer_separate_deconstructed_variables_declaration=true
resharper_remove_this_qualifier=false
resharper_single_statement_function_style=line_break
resharper_space_around_binary_operator=true
resharper_space_before_checked_parentheses=true
resharper_space_before_default_parentheses=true
resharper_space_before_method_parentheses_anonymous=true
resharper_space_before_nameof_parentheses=true
resharper_space_before_sizeof_parentheses=true
resharper_space_before_typeof_parentheses=true
resharper_space_before_type_parameter_parentheses=false
resharper_space_within_single_line_array_initializer_braces=true
resharper_static_members_qualify_with=do_not_change, current_type
resharper_vb_max_line_length=2147483647
resharper_vb_place_field_attribute_on_same_line=false
resharper_vb_wrap_multiple_declaration_style=wrap_if_long
resharper_wrap_array_initializer_style=chop_if_long
resharper_wrap_array_literals=wrap_if_long
resharper_wrap_before_arrow_with_expressions=true
resharper_wrap_before_linq_expression=true
resharper_wrap_enum_declaration=chop_if_long
resharper_wrap_imports=wrap_if_long
resharper_wrap_object_literals=wrap_if_long
resharper_wrap_switch_expression=chop_if_long
resharper_wrap_verbatim_interpolated_strings=chop_if_long

# ReSharper inspection severities
resharper_arrange_accessor_owner_body_highlighting=hint
resharper_arrange_attributes_highlighting=hint
resharper_arrange_constructor_or_destructor_body_highlighting=hint
resharper_arrange_local_function_body_highlighting=hint
resharper_arrange_method_or_operator_body_highlighting=hint
resharper_arrange_modifiers_order_highlighting=hint
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_arrange_var_keywords_in_deconstructing_declaration_highlighting=hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_class_cannot_be_instantiated_highlighting=hint
resharper_convert_closure_to_method_group_highlighting=hint
resharper_convert_if_statement_to_conditional_ternary_expression_highlighting=hint
resharper_convert_if_statement_to_null_coalescing_assignment_highlighting=hint
resharper_convert_if_statement_to_null_coalescing_expression_highlighting=hint
resharper_convert_nullable_to_short_form_highlighting=hint
resharper_convert_to_auto_property_highlighting=hint
resharper_convert_to_lambda_expression_highlighting=hint
resharper_convert_to_lambda_expression_when_possible_highlighting=hint
resharper_convert_to_local_function_highlighting=hint
resharper_convert_to_null_coalescing_compound_assignment_highlighting=hint
resharper_convert_to_static_class_highlighting=hint
resharper_convert_to_using_declaration_highlighting=hint
resharper_enforce_do_while_statement_braces_highlighting=hint
resharper_enforce_fixed_statement_braces_highlighting=hint
resharper_enforce_foreach_statement_braces_highlighting=hint
resharper_enforce_for_statement_braces_highlighting=hint
resharper_enforce_if_statement_braces_highlighting=hint
resharper_enforce_lock_statement_braces_highlighting=hint
resharper_enforce_using_statement_braces_highlighting=hint
resharper_enforce_while_statement_braces_highlighting=hint
resharper_event_never_invoked_global_highlighting=warning
resharper_for_can_be_converted_to_foreach_highlighting=hint
resharper_inline_out_variable_declaration_highlighting=hint
resharper_introduce_optional_parameters_global_highlighting=hint
resharper_introduce_optional_parameters_local_highlighting=hint
resharper_invoke_as_extension_method_highlighting=hint
resharper_join_null_check_with_usage_highlighting=hint
resharper_join_null_check_with_usage_when_possible_highlighting=hint
resharper_loop_can_be_partly_converted_to_query_highlighting=hint
resharper_merge_conditional_expression_highlighting=hint
resharper_merge_conditional_expression_when_possible_highlighting=hint
resharper_merge_sequential_checks_highlighting=hint
resharper_merge_sequential_checks_when_possible_highlighting=hint
resharper_redundant_base_qualifier_highlighting=warning
resharper_remove_redundant_braces_highlighting=hint
resharper_separate_control_transfer_statement_highlighting=hint
resharper_string_literal_wrong_quotes_highlighting=none
resharper_suggest_var_or_type_built_in_types_highlighting=hint
resharper_suggest_var_or_type_elsewhere_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=hint
resharper_tabs_are_disallowed_highlighting=hint
resharper_unnecessary_whitespace_highlighting=hint
resharper_use_await_using_highlighting=hint
resharper_use_index_from_end_expression_highlighting=hint
resharper_use_nameof_expression_highlighting=hint
resharper_use_name_of_instead_of_type_of_highlighting=hint
resharper_use_null_propagation_highlighting=hint
resharper_use_null_propagation_when_possible_highlighting=hint
resharper_use_object_or_collection_initializer_highlighting=hint
resharper_use_pattern_matching_highlighting=hint
resharper_use_string_interpolation_highlighting=hint
